/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

:root {
    --main-color: #a721cf;
    --text-color: #171427;
    --bg-color: #ffffff;
    --text-color-alt:#f6f9fbd9;
}
img{
    width: 100%;
}
body{
    color:var(--text-color);
    height: 100%;
}
/* Header */
header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
.nav{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.logo{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
}
#logout-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
/* Footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    color:var(--bg-color);
    font-size: 0.9rem;
    background: var(--text-color);
    padding: 10px;
    text-align: center;
}
/* Main */
main{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 90px);
}
.container{
    display: flex;
    align-items: center;
    /* column-gap: 20px; */
    height: 100%
}
.sidebar{
    position: fixed;
    min-width: 180px;
    max-width: 200px;
    /* width: 15%; */
    overflow: hidden;
    align-self: stretch;
    box-shadow: 3px 0 4px hsl(0 4% 15% / 10%);
    height: calc(100% - 110px);
    /* background-color: #a721cf; */
    
}
.sidebar ul{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
}
.sidebar ul li{
    width: 100%;
}
.sidebar ul li a{
    color: var(--text-color);
    display: block;
    width: 100%;
    display: flex;
    transition: margin-left .3s ease;
}
.sidebar ul li a:hover:not(.active){
    /* background: var(--main-color); */
    margin-left: 5px;
    border-left: 3px dotted var(--main-color);
}
.sidebar ul li a .icon{ 
    min-width: 50px;
    font-size: 25px;
    display: block;
    line-height: 50px;
    height: 50px;
    text-align: center;
}
.sidebar ul li a .text{
    display: block;
    padding: 0 10px;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
}

.sidebar ul li a.active{
    border-left: 3px solid var(--main-color);
}
.sidebar ul li a.active:hover{
    background: none;
    color:var(--text-color)
}
.content{
    /* background-color: blueviolet; */
    margin-left: 180px;
    width: 100%;
    /* align-self: stretch; */
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-content{
    margin: 20px;
    /* background-color: #a721cf; */
    padding: 15px 30px;
    /* border-radius: 4%; */
    box-shadow: 5px 5px 3px hsl(0 7% 15% / 10%);
    color: var(--bg-color);
    /* border: var(--text-color) solid 1px; */
    background: var(--bg-color);
    transition: margin-top .4s ease;
    cursor: pointer;
    min-width: 180px;
    min-height: 180px;
    border-left: var(--main-color) solid 1px;
    border-top: var(--main-color) solid 1px;
}
.item-content:hover{
    margin-top:10px;
}
/* Service */
.service-template{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 5px;
    height: 100%;
}
.service-name{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.service-name span{
    display: block;
}
.service-name small{
    font-size: 0.7rem;
    font-weight: 300;
}

.service-category{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    text-align: center;
}
.service-ram-icon{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
}
.service-cpu-icon{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}
.service-storage-icon{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
}
.service-ram{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
}
.service-cpu{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}
.service-storage{
    grid-column: 3;
    grid-row: 4;
    text-align: center;
}


